@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Source Serif 4', serif;
}

.bg-primary{
  background-color: #2d3e52;
}
.text-primary{
  color: #2d3e52;
}
.button-primary{
  background-color: #2d3e52;
  color: white;
  padding: 10px 25px;
  margin: 5px;
  border-radius: 12px;
  font-weight: bold;
}
.button-primary:hover{
background-color: #0a0f14;
}