@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary{
  background-color: #2d3e52;
}
.text-primary{
  color: #2d3e52;
}
.button-primary{
  background-color: #2d3e52;
  color: white;
  padding: 10px;
  margin: 0;
  border-radius: 12px;
  font-weight: bold;
}